.customer {
  .boxed {
    margin-bottom: 60px;
  }

  .heading {
    max-width: 447px;
    margin-left: auto;
    margin-right: auto;
  }

  // &-list {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 0 50px;
  // }

  &-item {
    border: 2px solid #f8f8f8;
    border-radius: 10px;
    padding: 30px;
    margin: 0 25px;
    &.slick-current.slick-active {
      border-color: $primary-color;
    }
  }

  &-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  &-avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }

  &-name,
  &-address {
    line-height: 1;
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  //slick slider
  .slick-slide {
    height: auto;
  }

  .slick-track {
    display: flex;
    gap: 0 50px;
    padding-bottom: 69px;
  }

  .slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 15px;
    transform: translateY(50%);
    button {
      font-size: 0;
      background-color: $platinum-color;
      width: 15px;
      height: 15px;
      border-radius: 100rem;
      transition: all 0.2s linear;
    }
  }

  .slick-active button {
    background-color: $primary-color;
    width: 45px;
  }

  .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    color: $primary-color;
    background: white;
    border: 2px solid $primary-color;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    z-index: 10;
  }

  .slick-arrow:hover {
    background: $primary-color;
    color: white;
    border: none;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    right: 80px; // kich thuoc button 60px + khoang cach 2 button 20px = 80px
  }
}

@media screen and (max-width: 1023px) {
  .customer {
    .slick-track {
      padding-bottom: 20px;
    }
    .slick-dots {
      justify-content: center;
    }
  }
  .customer-list {
    padding-bottom: 50px;
  }
}
