.footer {
  padding-bottom: 100px;
  background-color: #f8f8f8;
  padding-top: 213px;
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0 126px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 30px;
    width: 340px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-links {
    list-style-type: none;
  }
  &-item {
    margin-bottom: 10px;
  }
  &-link {
    color: inherit;
    line-height: calc(30 / 16);
  }
  .social {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding-bottom: 30px;
    &-item {
      background-color: white;
      color: $primary-color;
      border-radius: 100rem;
      display: flex;
      justify-content: center;
      padding: 10px;
      align-items: center;
      font-size: 20px;
      width: 33px;
      height: 33px;
      box-shadow: 2px 2px 2px rgba(#888888, 0.06);
    }
  }
  .copyright {
    color: #afb5c0;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 50px 0;
  }
  .footer-container {
    gap: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
}
