.header {
  padding-top: 50px;
  padding-bottom: 90px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
  }
  &-signin {
    font-weight: 500;
    color: $heading-color;
  }

  &-signin:hover {
    color: $primary-color;
  }

  &-signup:hover {
    color: white;
    background-color: $primary-color;
    box-shadow: 0 20px 54px -5px rgba(245, 56, 56, 0.35);
  }
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: inherit;
  }

  &-link:hover {
    color: $primary-color;
  }
}
